{% extends 'front.html' %}
{% block content %}

<section class="hero is-small is-primary">
  <div class="hero-body">
    <p class="title">
      welcome To Weather App
    </p>
    
  </div>
  <div class = "navbar-end">
    <span class="navbar-item">
        <a href="{% url 'logout' %}" class="button is-primary is-inverted">
            <span class="icon">
                  
            </span>
                <span>Logout</span>
        </a>
    </span>
      
  </div>
   
</section>





    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for w in weather %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">{{w.main}}
                                    <img src="http://openweathermap.org/img/w/{{ w.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title" style="text-align:center">{{w.city}}</span>
                                        <br>
                                        <span class="subtitle">Temp:{{w.temperature}}</span>
                                        <br> {{w.description}}
                                        <span class="title">Pressure:{{w.pressure}}</span>
                                        <br>
                                    </p>
                                </div>
                            </div>
                             <div class = 'media-right'>
                                    <a href="{%url 'city_remove' w.city  %}">
                                        <button class ='delete'></button>
                                    </a>
                                    
                                    
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    
   
{% endblock content %}